* {
    -bg-color: #282C34;

    -text-color: #818181;
    -text-color-active: #f1f1f1;

    -danger-color: #c9302c;
    -danger-dark-color: #ac2925;

    -primary-color: #337ab7;
    -primary-border-color: #2e6da4;
    -primary-dark-color: #286090;

    -success-color: #5cb85c;
    -success-dark-color: #255625;

    -info-color: #5bc0de;
    -info-dark-color: #1b6d85;

    -warning-color: #f0ad4e;
    -warning-dark-color: #985f0d;

}

.top-bar {
    -fx-background-color: -bg-color;
    -fx-border-color: -text-color;
    -fx-border-width: 0 0 1 0;
    -fx-row-valignment: center;
    -fx-alignment: center-left;
}

.navbar {
    -fx-height: 100%;
    -fx-position: fixed;
    -fx-z-index: 1;
    -fx-background-color: -bg-color;
    -fx-padding-top: 20px;
}

.nav-item {
    -fx-padding: 6 6 6 20;
    -fx-text-decoration: none;
    -fx-font-size: 16;
    -fx-text-fill: -text-color;
    -fx-display: block;
    -fx-background-color: transparent;
    -fx-min-width: 140;
}

.navbar > .nav-item.active {
    -fx-text-fill: -text-color-active;
}

.nav-item:hover {
    -fx-text-fill: -text-color-active;
}

.text{
    -fx-text-fill: -text-color;
}